<style>

body {
	width: 70%; 
	margin: auto;
}

h1 {
  font-family: Arial;
  color: green;
}

h2 {
  font-family: Arial;
  font-size: 120%;

}

table, td, th {
  border: 1px solid black;
  text-align: left;
}

p {
  font-size: 70%;
  font-family: Arial;
  color: black;
}

#contents {
	float: right;
}

<style>